body{
  background-color: #121317;
  color: #fff;
}
.nav-title{
  margin-left:20px;
}
.line{
  height:1px;
  background-color: #fff;
  width: 100%;
}
.db-title{
    font-family: 'Futura PT', sans-serif;
    font-size:40px;
    font-weight: 600;
  }
  h2, h3, h4, h5 {
    font-family: 'Merchant', sans-serif;
    font-weight: 400;
  }
  h6{
    font-family: 'Futura PT', sans-serif;
    font-size:22px;
    font-weight: 400;
  }
  .mdt{
    font-family: 'Futura PT', sans-serif;
    font-size:16px;
    font-weight: 600;
  }
  .smt{
    font-family: 'Futura PT', sans-serif;
    font-size: 14px;
  }
  .decor-text{
    font-family: 'Futura PT', sans-serif;
    font-size:14px;
    font-weight: 400;
  }

  .overview-card{
    text-align: center;
  }
  .overview-inner{
    padding: 20px 10px;
  }
  .card-1{
    background-color: #6A7CE9;
    border-radius: 4px;
  }
  .card-2{
    background-color: #F0905A;
    border-radius: 4px;
  }
  .card-3{
    background-color: #55BF9C;
    border-radius: 4px;
  }
ul{
    list-style-type: none;
}
.sideNav-content{
    padding-left: 20px;
}
.catalog-dropdown{
    background-color: #2E303A;
    margin-top:8px;
    margin-bottom: 8px;
}
.catalog-dropdown li{
    color: #999999;
}
.catalog-dropdown li:hover{
    color: #f1f1f1;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 18px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 0px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .nav-close .text-light{
    padding-top: 8px;
  }
  .nav-close{
    padding-bottom: 16px;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .admin-nav{
    padding-top:16px;
    padding-bottom: 16px;
    border-bottom: 1px #6A7CE9 solid;
  }
  .tbl{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
  .tb-row{
    display: flex;
    flex-direction: row;
    border-bottom: 1px #666 solid;
    padding-bottom: 8px;
    padding-top: 8px;
  }
  .title-row{
    background-color: #2E303A;
  }
  .cell{
    padding-left: 4px;
    padding-right: 4px;
    margin:auto;
    flex-grow: 1;
    flex-basis:0;
    flex-shrink: 0;
  }
  /* Button style */
  .btn-lg-pr-admin{
    background-color: #6A7CE9;
  }
  .btn-lg-sc-admin{
    background-color: #E96A6A;
  }
  .order-div{
    background-color: #2E303A;
    border-radius: 4px;
  }
  .order-inner{
    padding: 20px 20px;
  }
  .order-icon{
    padding-right: 30px;
  }
  .ic1 i{
    background-color: #6A7CE9;
    padding: 16px;
    border-radius: 40px;
  }
  .ic2 i{
    background-color: #E96A6A;
    padding: 16px;
    border-radius: 40px;
  }
  .ic3 i{
    background-color: #55BF9C;
    padding: 16px;
    border-radius: 40px;
  }
  .ic4 i{
    background-color: #F0905A;
    padding: 16px;
    border-radius: 40px;
  }
  .cell-md{
    flex-grow: 1.5;
    flex-shrink: 0;
    flex-basis: 0;
  }
  .cell-sm{
    flex-grow: 0.5;
    flex-shrink: 0;
    flex-basis: 0;
  }
.cell-ssm{
  flex-grow: 0.2;
  flex-shrink: 0;
  flex-basis: 0;
}
/* Pagination */
.pagination {
  display: inline-block;
}

.pagination a {
  color: #fff;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #6A7CE9;
  color: #fff;
}
.pgn{
  margin-top: 30px;
}
.pagination a:hover:not(.active) {background-color: #ddd;}
/* Status */
.stt{
  width: 94px;
  text-align: center;
  border-radius: 16px;
  padding:4px 10px;
}
.stt-sm{
  text-align: center;
  border-radius: 16px;
  padding:4px 10px;
  width: 88px;
}
.stt1{
  background-color: #6A7CE9;
}
.stt2{
  background-color: #55BF9C;
}
.stt3{
  background-color: #E96A6A;
}
.stt4{
  background-color: #F0905A;
}
/* toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  bottom: 1px;
  left: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #6A7CE9;
}

input:focus + .slider {
  box-shadow: 0 0 1px #6A7CE9;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}
.togglebtn{
  align-self: center;
}
.sl-box{
  padding:8px;
  width: 100%;
}
.search-input{
  width: 100%;
  padding: 8px;
}
input::placeholder{
  font-size: 16px;
  font-family: 'Futura PT', sans-serif;
}
select{
  font-size: 16px;
  font-family: 'Futura PT', sans-serif;
}
/* Offcanvas */
/* .offcanvas{
  position: fixed;
  top: 0;
  right: -100;
  z-index: 9999;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: right 0.3s ease-in-out;
  overflow-y: auto;
  background-color: #fff;
}
.offcanvas.open{
  right: 0;
} */
